<div class="flex flex-col gap-4">
    <div class="bg-[var(--app-surface-color)] rounded-xl p-4">
        <div class="flex items-center justify-between">
            <header class="text-xl font-semibold">Articles</header>
        </div>

        <p-divider />

        <p-dataView [value]="blogs()" layout="grid" styleClass="w-full" [rows]="3" [paginator]="true">
            <ng-template #grid let-blogs>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
                    <div *ngFor="let blog of blogs"
                        class="bg-[#3f3f46] rounded flex flex-col overflow-hidden cursor-pointer !shadow-lg hover:!shadow-xl transition-shadow duration-300">
                        <div class="relative">
                            <img [src]="'https://picsum.photos/1600/900'" alt="Blog Image"
                                class="w-full h-48 object-cover rounded-b" loading="lazy" />
                            <img [src]="'https://i.pravatar.cc/40'" alt="Blog Image"
                                class="absolute bottom-[-1.75rem] right-4 w-14 h-14 rounded-full !shadow-md"
                                loading="lazy" />
                        </div>
                        <div class="p-4 pt-8 flex flex-col mt-auto">
                            <h2 class="text-lg font-semibold line-clamp-2 mb-3.5">{{ blog.title }}</h2>
                            <p class="text-sm mb-8 line-clamp-3">
                                {{ blog.content }}
                            </p>
                            <div class="flex items-center justify-between mt-auto">
                                <div class="flex items-center gap-2 text-sm">
                                    <i class="pi pi-comment"></i>
                                    {{ blog.commentCount }}
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <i class="pi pi-share-alt"></i>
                                    {{ blog.shareCount }}
                                </div>
                                <div class="flex items-center gap-2 text-sm">
                                    <i class="pi pi-clock"></i>
                                    {{ blog.date | date:'MMM d' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <div class="bg-[var(--app-surface-color)] rounded-xl p-4">
       <div class="px-6 py-20 bg-black/50">
        <header class="text-5xl font-bold mb-4">Recent Articles</header>
        <p class="text-lg leading-normal mb-8">Stay updated with the latest articles from our blog.</p>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            <div *ngFor="let article of recentArticles()" class="rounded-lg p-6 flex flex-col">
                <div [style.borderColor]="article.color" class="border-t-4"></div>
                <span class="text-sm my-2 font-medium" [style]="{ 'color': article.color }">{{ article.tag }}</span>
                <h3 class="text-lg font-medium mb-6 leading-normal">{{ article.title }}</h3>
                <p class="text-sm leading-normal mb-6">{{ article.content }}</p>
                <div class="flex items-center gap-2 mt-auto">
                    <img [src]="'https://i.pravatar.cc/40'" alt="Author Image"
                        class="w-10 h-10 rounded-full" loading="lazy" />
                    <div class="flex flex-col">
                        <span class="text-sm font-medium">{{ article.creator }}</span>
                        <span class="text-xs text-gray-400">{{ article.date | date:'MMM d, y' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>