<p-breadcrumb [model]="breadcrumbItems" [home]="home" class="!bg-transparent border-none px-4 py-2 text-sm"
    styleClass="text-gray-600">
    <ng-template #item let-item>
        <ng-container>
            <a [routerLink]="item.routerLink" class="p-breadcrumb-item-link">
                <span *ngIf="item.icon" [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <!-- <ng-template #elseBlock>
            <a [routerLink]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template> -->
    </ng-template>
</p-breadcrumb>