<div class="flex items-center justify-between h-16 px-4 border-b dark:border-gray-700">
  <div class="flex gap-4 items-center">
    <!-- Hamburger (only visible on small screens) -->
    <p-button (click)="toggleSidebar.emit()" class="text-gray-500" variant="outlined" severity="secondary">
      <i class="pi pi-bars"></i>
    </p-button>

    <app-breadcrumb></app-breadcrumb>
  </div>

  <!-- Right: Profile Avatar and Dropdown Menu -->
  <div class="relative flex items-center gap-2">
    <button pButton [rounded]="true" [text]="true" severity="secondary"
      class="w-[2.5rem] h-[2.5rem] hover:!bg-gray-800/50">
      <i class="pi pi-bell"></i>
    </button>

    <button pButton [rounded]="true" [text]="true" severity="secondary"
      class="w-[2.5rem] h-[2.5rem] hover:!bg-gray-800/50">
      <i class="pi pi-comment"></i>
    </button>

    <!-- <button pButton (click)="toggleTheme()" [rounded]="true" [text]="true" severity="secondary" class="hover:!bg-gray-800/50 !border-none w-[2.5rem] h-[2.5rem]">
      <i class="pi pi-moon" *ngIf="isDarkMode"></i>
      <i class="pi pi-sun" *ngIf="!isDarkMode"></i>
    </button> -->

    <div class="flex justify-center items-center">
      <button pButton [rounded]="true" [text]="true" (click)="profileMenu.toggle($event)" class="rounded-full focus:outline-none">
        <img src="https://i.pravatar.cc/40" class="rounded-full w-10 h-10" />
      </button>

      <!-- PrimeNG Menu -->
      <p-menu #profileMenu [popup]="true" [model]="profileItems"></p-menu>
    </div>
  </div>
</div>